img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.img {
    display: flex;
    position: relative;
    top: 30px;
    left: 3px;


}

.oval {
    background-color: #d46868;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 20px;
    left: 45px;
}


.all {
    width: 250px;
    height: 65px;
    border-radius: 5px;
    background-color: #899692;
    position: relative;
    left: 10px;

}

.name {
    position: relative;
    left: 20px;
    font-size: 15px;
    color: #585656;
    top: 3px;
}

.time {
    position: relative;
    left: 173px;
    bottom: 2px;
    font-size: 10px;
    color: #7d8ba7;

}

.message {
    position: relative;
    left: 20px;
    font-size: 13px;
    color: #ffffff;
    top: 7px;
}

/*.empty1 {*/
/*    width: 20px;*/
/*    height: 10px;*/
/*    background: #d26768;*/
/*    position: relative;*/
/*    bottom: 10.6px;*/
/*    right: 5px;*/

/*}*/
.empty {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #889592;
    position: relative;
    bottom: 23px;
    right: 12px;

}
.empty2 {
    width: 40px;
    height: 40px;
    background: #d26768;
    position: relative;
    bottom: 53px;
    right: 20px;
    clip-path: polygon(50% 1%, 100% 0%, 100% 75%, 100% 100%, 0 100%, 50% 87%, 50% 65%);
}


