.all{
    display: flex;
    justify-content: start;
    padding: 10px;


}

.group {

    margin-left: 20px;
    position:relative;
    background-color: rgb(227, 227, 18);
    color: #345620;
    min-width: 100px;

    border-radius: 10px 10px 10px 0;
}
.message:before {
    content: "";
    position:absolute;
    bottom: 0;
    left:-40px;
    height:20px;
    width: 40px;
    border-bottom-right-radius: 65%;
    box-shadow: 20px 0 0 0 rgb(225, 225, 19);
}


.name {
    align-items: flex-start;
    padding-top: 4px;
    padding-left: 10px;
    font-weight: bold;
    color: #7a12ba;
}
.message {
    align-items: center;
    padding: 10px;
}
.time {
    text-align: end;
    padding-right: 6px;
    padding-bottom: 2px;
    font-size: 10px;
    font-weight: bold;
    color: #2d4e05;
}

img {
    height: 50px;
    border-radius: 50%;

}
.img {
    padding-top: 20px;
    height: 50px;
    align-items: flex-end;
    border-radius: 50%;
}
